In [10]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [11]:
from google.colab import drive
drive.mount('/content/amjdrive')

Drive already mounted at /content/amjdrive; to attempt to forcibly remount, call drive.mount("/content/amjdrive", force_remount=True).

In [13]:
df=pd.read_csv('/content/amjdrive/MyDrive/Phython/car speed.csv')

In [14]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [19]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [22]:
exm_fit=df.experience.median()

In [23]:
exm_fit

5.0

In [24]:
df.experience= df.experience.fillna(exm_fit)

In [25]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [26]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [27]:
reg=linear_model.LinearRegression()

In [30]:
reg.fit(df[['speed','car_age','experience',]],df.risk)

LinearRegression()

In [31]:
reg.predict([[160,10,5]])

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.37146872])

In [32]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [34]:
reg.intercept_

33.41000091043588

In [35]:
0.33059217*160+1.61053246*10+5*-6.20772074+33.41000091043588

71.37146901043589